.menu-bar__container{
	display: flex;
	flex-direction: row;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 85px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.8);
	background-color: rgba(255,255,255,1);
}

.menu-bar__item{
  display: flex;
  margin:auto;
  align-items: center;
}

.menu-bar__item > ul{
	display: flex;
	list-style-type: none;
}

.menu-bar__item > ul > li {
	padding: 5px;
	margin-right: 15px;
}

.menu-bar__item > ul > li > a {
	text-decoration: none;
	padding: 5px;
	color: #000;
	font-family: 'Segoe UI';
}

.menu-bar__item > ul > li > a.link-youtube:hover{
	color: red;
	font-weight: 600;
}
.menu-bar__item > ul > li > a.link-linkedin:hover{
	color: blue;
	font-weight: 600;
}
.menu-bar__item > ul > li > a.link-github:hover{
	font-weight: 600;
}