.big-card__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-buy {
    padding: 15px 50px ;
    border-radius: 10px;
    background-color: #0690DD;
    color: #fff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #fff;
    color: #0690dd;
}

.btn-play {
    padding: 15px 50px ;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

    color: #fff;
    cursor: pointer;

    background: rgba( 253, 253, 253, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.99 );
}

.btn-play:hover {
    background-color: #fff;
    color: #0690dd;
}